.container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: auto;
}

.main-content {
    position: absolute;
    top: 47.5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(215, 218, 220);
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-content h1 {
    font-size: 7.8em;
    font-family: "sans-serif";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .13em;
}

.main-content h1::after {
    content: "";
    background: rgb(215, 218, 220);
    display: block;
    height: 4px;
    margin: 40px auto;
    width: 220px;
}

.main-content p {
    font-family: "sans-serif";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: .09em;
    line-height: 1.6em;
}

.video-bg {
    position: fixed;
    z-index: -5;
}

@media (min-aspect-ratio: 16/9) {
    .video-bg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-bg {
        width: auto;
        height: 100%;
    }
}